
  /* TopBar */
  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* 调高 TopBar 的高度 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .topbar.hide {
    transform: translateY(-100%);
  }
  
  .topbar.show {
    transform: translateY(0);
  }
  
  .topbar-left {
    display: flex;
  }
  
  .topbar-right {
    display: flex;
  }
  
  .topbar-button {
    background: none;
    border: none;
    color: #D9D9D9; /* 更改为深灰色以在白色背景上可见 */
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    align-items: center; /* 图标与文本垂直居中 */
  }
  
  .topbar-button:hover {
    color: #000000;
  }
  
  .topbar-button:last-child {
    margin-right: 0;
  }
  
  
  
  /* OverView */
  #overview {
    height: 90vh;
  }

  .Project3-overview {
    display: flex;
    margin: 120px;
    letter-spacing: 0.05em;
    align-items: center;
  }
  
  .Project3-header2 {
    margin: 120px;
    margin-right: 0px;
    width: 160%;
  }
  
  .Project3-sidebar {
    flex: 1;
    margin-bottom: 60px;
  }
  
  .Project3-background {
    padding: 20px;
  }
  
  .Project3-sidebar h1 {
    margin: 10px;
    margin-bottom: 40px;
  }
  
  .Project3-sidebar p {
    margin: 10px;
    margin-top: 20px;
    color: #D9D9D9;
    font-size: 20px;
  }
  
  .Project3-sidebar button {
    margin: 10px;
    margin-top: 20px;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    backdrop-filter: blur(6px); /* 背景模糊效果，10px 可根据需求调整 */
  }
  
  .Project3-sidebar button:hover {
    background-color: #ffffff;
  }
  
  .Project3-background h2 {
    margin-bottom: 20px;
    font-size: medium;
    color: #D9D9D9;
    font-weight: bold;
  }
  
  .Project3-background p {
    line-height: 1.7;
  }

  .GameIntroduction {
    margin: 120px;
    margin-left: 0px;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .Play {
    margin: 25px;
    margin-top: 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth hover effect */
    animation: pulse 1s infinite; /* 应用放大缩小的动画 */
  }
  
  .Project3-background-image {
    position: fixed; /* 保持在页面底部 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 根据需要调整高度 */
    background-image: url('./img/litter.png'); /* 替换为背景图片路径 */
    background-size: cover; /* 确保背景图片覆盖整个容器 */
    background-repeat: no-repeat;
    z-index: -1; /* 确保它在内容后面 */
  }

  .scroll-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中，如果需要 */
    flex-direction: column; /* 使内容纵向排列 */
  }
  
  .scroll-down-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.4);
    margin-top: 20px; /* 调整按钮与前面内容的间距 */
  }

/* BackgroundSection.css */
#background3 {
  letter-spacing: 0.05em;
  background-color: #ffffff;
}

.background3-container {
  color: #333;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.background3-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.background3-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}

.background3-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

.fooddeliverywaste {
  margin-bottom: 60px;
  width: 90%;
}

/* Research */
#research3 {
  letter-spacing: 0.05em;
  background-color: #ffffff;
}

.research3-container {
  color: #333;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.research3-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.research3-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}

.research3-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

.research3-list-item {
  margin-top: 5px;
  font-size: 18px;
  color: #454545;
  font-weight: bold;
  line-height: 40px;
  text-decoration: underline;
  text-decoration-color: #E5F2FF;
  text-decoration-thickness: 4px;
  text-underline-position: under;
  text-underline-offset: -2px;
}  

.noutensils {
  width: 50%;
}

.growth {
  width: 90%;
}

/* IdeationSection.css */
#ideation3 {
  letter-spacing: 0.05em;
  background-color: #ffffff;
}

.ideation3-container {
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.ideation3-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.ideation3-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}

.ideation3-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

/* UserFlow.css */
#userflow3 {
  letter-spacing: 0.05em;
  background-color: #ffffff;
}

.userflow3-container {
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.userflow3-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.userflow3-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}

.userflow3-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

.userflow3-list {
  list-style-type: none;
  padding-left: 1rem;
}

.userflow3-list-item {
  margin-top: 5px;
  font-size: 16px;
  color: #707070;
  font-weight: normal;
  line-height: 30px;
}

.Paper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 40px;
}

.PaperImg {
  width: 49%;
  height: auto;
}

/* DesignDetails.css */
#details3 {
  letter-spacing: 0.05em;
  background-color: #ffffff;
}

.details3-container {
  color: #333;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.details3-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.details3-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}

.details3-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

.details3-paragraph a {
  color: #3C8CDD;
  text-decoration: none;
}

.details3-paragraph a:hover {
  text-decoration: underline;
}

.details3-list {
  list-style-type: disc;
}

.details3-list-item {
  margin-top: 5px;
  font-size: 16px;
  color: #707070;
  font-weight: normal;
  line-height: 30px;
}

.RealWorldDataImg {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 40px;
}

.RealWorldData {
  width: 49%;
  height: auto;
}

.codecontainer {
  max-height: 400px;
  font-size: 0.8em;
  overflow: auto;
  margin-bottom: 60px;
}

pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* FinalDesign.css */
#final3 {
  letter-spacing: 0.05em;
  background-color: #ffffff;
}

.final3-container {
  color: #333;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
  padding-bottom: 120px;
}

.final3-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.final3-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}

.final3-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

.final3-paragraph a {
  color: #3C8CDD;
  text-decoration: none;
}

.final3-paragraph a:hover {
  text-decoration: underline;
}

/* ReferenceSection.css */
#reference3 {
  letter-spacing: 0.05em;
  background-color: #ffffff;
}

.reference3-container {
  color: #333;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
  padding-bottom: 120px;
}

.reference3-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.reference3-list {
  list-style-type: disc;
}

.reference3-list-item {
  margin-top: 5px;
  font-size: 16px;
  color: #707070;
  font-weight: normal;
  line-height: 24px;
}

.reference3-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

.reference3-list a {
  color: #707070;
  text-decoration: none;
}

.reference3-list a:hover {
  text-decoration: underline;
}

/* FooterSection.css */
#footer3 {
  letter-spacing: 0.1em;
  background: linear-gradient(#ffffff, #d1e1fa);
  padding: 60px 0px 60px 0px;
}

.footer3-container {
  color: #3C8CDD;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
  display: flex;
}

.footer3-header {
  width: 100%;
  color: #263340;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}