/* Navigation.css */
.navigation {
  position: fixed;
  top: 100px;
  left: 40px;
  width: 180px;
  /* 其他样式 */
}

.navigation.show {
  top: 0;
}

.navigation-content {
  font-size: 13px;
  padding: 20px;
  /* 其他样式 */
}

.navigation-home {
  padding: 20px 20px 0px 20px;
  font-size: 20px;
}

.navigation a {
  display: block;
  color: #AAAAAA;
  text-decoration: none;
  padding: 10px 0;
  /* 其他样式 */
}

.navigation a.active {
  color: #3C8CDD;
  /* 其他样式 */
}

.bi bi-house {
  font-size: 20px;
  color: #ccc;
}


/*Overview.css */
#overview2 {
  background-color: #FAFCFE;
  letter-spacing: 0.1em;
}

.Project2-header {
  text-align: center;
}

.Project2-header2 {
  display: flex;
  margin: 90px;
  margin-top: 60px;
}

.Project2-sidebar {
  flex: 3;
  padding: 20px;
  margin-left: 80px;
}

.Project2-overview {
  flex: 2;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 80px;
}

.Project2-sidebar h1 {
  margin: 10px;
}

.Project2-overview p {
  margin: 10px;
  margin-top: 15px;
  color: #666;
}

.Project2-overview button {
  margin: 10px;
  margin-top: 20px;
  padding: 8px 12px;
  background-color: #E8F2FC;
  color: #3C8CDD;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
}

.Project2-overview button:hover {
  background-color: #D1E5FA;
}

.Project2-overview h2 {
  margin-bottom: 20px;
  font-size: medium;
  color: #3C8CDD;
  font-weight: bold;
}

.Project2-overview p {
  line-height: 1.6;
}

.Overview-header {
  color: #454545;
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  margin-bottom: 100px;
}

.Project2-background {
  flex: 3;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 80px;
  padding-top: 40px;
}

.Project2-background h2 {
  margin-bottom: 20px;
  font-size: medium;
  color: #3C8CDD;
  font-weight: bold;
}

.Project2-background p {
  line-height: 1.7;
}

/* IntroSection.css */
#Intro {
  letter-spacing: 0.1em;
  background-color: #FAFCFE;
}

.Intro-container {
  color: #333;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.Intro-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.Intro-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}

.Intro-sub-header {
  color: #454545;
  font-size: 10px;
  margin-top: 15px;
}

.Intro-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 36px;
  margin-top: 10px;
}

.imgcontainer {
  display: flex;
}

.HMW {
  color: #454545;
  font-size: 19px;
  font-weight: 600;
  line-height: 48px;
  margin: 10px 0px 60px 0px;
  text-decoration: underline;
  text-decoration-color: #E5F2FF;
  text-decoration-thickness: 4px;
  text-underline-offset: 2px;
}


/* ResearchSection.css */
#research2 {
  letter-spacing: 0.1em;
  background-color: #FAFCFE;
}

.research2-container {
  color: #333;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.research2-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.research2-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
}

.research2-sub-header {
  color: #454545;
  font-size: 10px;
  margin-top: 15px;
}

.research2-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 36px;
  margin-top: 10px;
}

.research2-list {
  list-style-type: disc;
  margin-bottom: 20px;
}

.research2-list-item {
  margin-top: 5px;
  font-size: 16px;
  color: #707070;
  font-weight: normal;
  line-height: 30px;
}

.collapse-btn {
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  justify-content: space-between;
  margin: 40px 0px 20px 0px;
  width: 100%;
  text-align: left;
  padding: 12px 16px;
  letter-spacing: 0.05em;
  background-color: #EEF5FC;
  border: 2px solid #D1E5FA;
  color: #3C8CDD;
  cursor: pointer;
  border-radius: 12px;
  font-size: 18px;
}

.collapse-btn:hover {
  color: #3C8CDD;
  background-color: #D1E5FA;
}

.collapse-btn:active {
  color: #3C8CDD !important; /* 添加 !important */
  background-color: #D1E5FA !important; /* 添加 !important */
}

.collapse-btn::after {
  content: '+';
  float: right;
  font-size: 24px;
}

.collapse-btn[aria-expanded="true"]::after {
  content: '-';
  font-size: 24px;
}
.collapse-btn[aria-expanded="false"]::after {
  content: '+';
  font-size: 24px;
}

/* chart1.css */
.bar {
  width: 80%;
  background-color: #E8F2FC;
  border-radius: 5px;
  margin: 0px 0px 20px 60px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bar:hover {
  background-color: #FCF2E8;
}
.bar:hover .bar-fill {
  background-color: #C27670;
}
.bar:hover .bar-text {
  color: #C27670;
}
.bar:hover .tip {
  visibility: visible;
}
.bar-1 {
  width: 35.3%;
  height: 100%;
  background-color: #3C8CDD;
  border-radius: 5px;
  float: left;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}
.bar-2 {
  width: 64.7%;
  height: 100%;
  background-color: #E8F2FC;
  border-radius: 5px;
  float: left;
  text-align: center;
  line-height: 30px;
  color: #3C8CDD;
}

/* chart2.css */
.bar-container {
  width: 400px;
}
.bar-text {
  position: absolute;
  left: 410px;
  text-align: left;
  width: 200px;
  color: #3C8CDD;
}
.bar-fill {
  background-color: #3C8CDD;
  border-radius: 5px;
  height: 10px;
}
.tip {
  visibility: hidden;
  width: 120px;
  background-color: #FCF2E8;
  color: #C27670;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0px;
  position: absolute;
  z-index: 1;
  left: 80%; /* 放置tooltip在文字右侧 */
  top: 0;
  margin-left: 10px; /* 调整文字和tooltip之间的距离 */
}


/* FindingsSection.css */
#findings2 {
  letter-spacing: 0.1em;
  background-color: #FAFCFE;
  margin-top: 60px;
}

.findings2-container {
  color: #333;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.findings2-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.findings2-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  margin-top: 20px;
}

.findings2-sub-header {
  color: #454545;
  font-size: 10px;
  margin-top: 15px;
}

.findings2-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 36px;
  margin-top: 10px;
}

.findings2-list {
  list-style-type: disc;
  margin-bottom: 40px;
}

.findings2-list-item {
  margin-top: 5px;
  font-size: 18px;
  color: #454545;
  font-weight: bold;
  line-height: 40px;
  text-decoration: underline;
  text-decoration-color: #E5F2FF;
  text-decoration-thickness: 4px;
  text-underline-position: under;
  text-underline-offset: -2px;
}

.purchase {
  width: 30%;
  border-radius: 16px;
  margin: 20px 20px 20px 0px;
}

.purchaseflow {
  width: 70%;
}


/* Goals.css */
#goals2 {
  letter-spacing: 0.1em;
  background-color: #FAFCFE;
}

.goals2-container {
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.goals2-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.goals2-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

.goals2-list {
  list-style-type: disc;
  margin-bottom: 80px;
}

.goals2-list-item {
  color: #454545;
  font-size: 19px;
  font-weight: 600;
  line-height: 40px;
  margin: 20px 0px 20px 0px;
}

/* PrototypeSection.css */
#prototype2 {
  letter-spacing: 0.1em;
  background-color: #FAFCFE;
}

.prototype2-container {
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.prototype2-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.prototype2-sub-header {
  color: #454545;
  font-size: 18px;
  font-weight: bold;
}

.prototype2-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 36px;
  margin-top: 10px;
}

.scenariop2 {
  margin-bottom: 40px;
}

.prototype2-list {
  margin-bottom: 80px;
}

.prototype2-list-item {
  margin-top: 5px;
  font-size: 18px;
  color: #707070;
  font-weight: normal;
  line-height: 36px;
}


/* FinalSection.css */
#final2 {
  letter-spacing: 0.1em;
  background-color: #FAFCFE;
}

.final2-container {
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
}

.final2-image-area {
  margin: 40px 20px 40px 0px;
}

.final2-container2 {
  margin: 10%;
}

.final2-h2 {
  color: #3C8CDD;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 20px;
}

.final2-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  margin-top: 20px;
}

.final2-sub-header {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
}

.final2-paragraph {
  color: #707070;
  font-size: 16px;
  line-height: 36px;
  margin-top: 10px;
}

.final2-list {
  list-style-type: disc;
}

.final2-list-item {
  margin-top: 5px;
  font-size: 16px;
  color: #707070;
  font-weight: normal;
  line-height: 36px;
}

.switch {
  margin-bottom: 80px;
}

/* FooterSection.css */
#footer2 {
  letter-spacing: 0.1em;
  background: linear-gradient(#FAFCFE, #d1e1fa);
  padding: 60px 0px 60px 0px;
}

.footer2-container {
  color: #3C8CDD;
  padding: 20px;
  margin-left: 25%;
  margin-right: 20%;
  display: flex;
}

.footer2-header {
  width: 100%;
  color: #263340;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.nextProj {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #263340;
  padding: 10px 20px 10px 20px;
  background-color: #ffffff;
  border-radius: 30px;
  border: solid 1px #263340;
  font-weight: 100;
  font-size: 20px;
  margin-top: 40px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nextProj:hover {
  color: #3C8CDD;
  border: solid 1px #3C8CDD;
  background-color: white;
}
